# LOUD Project .gitignore
# Only for the main repo (https://github.com/LOUD-Project/Git-LOUD)
# Authors: Tanksy, Sprouto, Balthazar, Rat Circus

# For Adobe Systems file formats
*.ai
*.tif
*.psd

# Windows Shell
*.ps1
*.lnk

# Executables
bin/ForgedAlliance\.exe
bin/SupremeCommander\.exe
bin/BsSndRpt\.exe
bin/SupComDataPath\.lua
*.bat

bin/*.dll
bin/*.png
bin/*.ini
bin/*.dat
bin/*.manifest

# Log files
*.log

# Mainline maps are not tracked by Git
maps/
Map Editor/

# PhoenixMT's Blueprint Extractor
!lua_utils/bluePrintExtractor/runme.bat
lua_utils/bluePrintExtractor/output*.csv

# IDEs/text editors
.vscode
.atomignore
